.nav {
    // background-color: rgba(248, 115, 6, 0.01);
    //   min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.5rem;
    //   color: white; 
    padding: 20px;
    &__link {
        text-decoration: none;
        color: #21B1D7;
        & svg {
            height: 45px;
        }
    }
}

.title {
    text-align: center;
    font-weight: normal;
    color: #D34329;
    // font-family: roboto;
    font-size: 3.2rem;
    margin-top: 0px;
}

@media only screen and (min-width: 700px) {
  .nav {
    width: 70%;
    margin: auto;
}
};